<center><h1 class="blue-text"><%= @employee.name %> </h1></center>
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-3 sidebar">
        <center><h5 class ="wos">What Others Say:</h5></center>

        <h5>Occasion:</h5><br>
        <p></p>

        <h5>End project:</h5><br>
        <p></p>

        <h5>Birthday:</h5><br>
        <p></p>

        <h5>Pulse survey:</h5><br>
        <p></p>

      </div>

      <div class="col-md-9 col-md-offset-3 content">
        <center>360 Feedback Diagram </center>
      </div>

    </div>
  </div>
