<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<center>
  <p id="notice"><%= notice %></p>

  <div class="employeeindex-container">
    <h1 class="blue-text">Employees</h1>
    <hr>
    <% @employees.each do |employee| %>
      <div><%= render 'employee', employee: employee %></div>
    <% end %>

  <%= link_to 'New Employee', new_employee_path %>
  </div>
</center>
