<center>
  <p id="notice"><%= notice %></p>
  <br>
  <%= link_to 'Create Employee', new_employee_path, class: 'new-button' %>
  <br><br>

  <div class="employee">
      <div><%= render 'employee'%></div>
  </div>
</center>
