<h1>Welcome to Artemis Baseball Cards</h1>

<% if current_user %>
  <% if @employees.any? %>
    <div class="mini-cards">
      <% @employees.each do |card| %>
        <div class="mini-card">
          <div class="mini-top">
            <p><%= link_to card.name, employees_path(card) %></p>
          </div>
          <div class="mini-bottom">
            <p> <%= card.position %> </p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <center><p>There are currently no employee baseball cards.</p></center>
  <% end %>
<% end %>
