<br>
<center><h1>Clients</h1><br>
<%= link_to "New Client", new_company_path, class: 'new-button' %></center><br><br>
<div class="all-companies">
  <% @companies.each do |company| %>
    <div class="company">
      <%= link_to company.name, company_path(company) %>
    </div>
  <% end %>
</div>
