@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');


* {
  font-family: 'Lato', sans-serif;
}



.employee-name a{
  color: black
}

.all_areas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  width: 500px;
  height: 500px;
  overflow: scroll;
  border: 2px solid black;
  margin-bottom: 40px;
  background-color: #dcdee2;
}

.area {
  margin: 5px;
}

.category{
  font-weight: bolder;
  font-size: 20px;
}

.emp-box {
  margin-bottom: 30px;
}

.one-survey {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-left: 2px solid #eee;
}

.one-survey p {
  margin: 2px;
}

.employee-name a:hover {
  color: white;
  font: bold;
  text-decoration: none;
}

.mini-cards {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  margin-left: 10%;
}


.mini-card {
  border: 1px solid black;
  width: 250px;
  height: 280px;
  margin-bottom: 80px;
  margin-right: 3px;
  margin-left: 3px;
}

.mini-card a {
  color: white;
}

.content {
  margin-left: 30%;
}

.mini-card a:hover {
  color: white;
  text-decoration: none;
}

.mini-top {
  background-color: #8da4c9;
  color: white;
  padding-bottom: 6px;
  font-family: 'Merriweather', serif;

}

.employee-name {
  font-family: 'Merriweather', serif;
}

.mini-bottom {
  margin-top: 5px;
  margin-bottom: 80px;
  background-color: white;
  color: black;
}

#name {
  text-align: right;
}

.blue-text{
  color: #355d88;
  font-family: 'Merriweather', serif;

}

.grey-text {
  color: grey;
}

.float-right {
  float: right;
  text-align: right;
  font-family: 'Merriweather', serif;
}

.float-left {
  margin-top: 125px;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
}

#right-side {
  background-color: #8da4c9;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#right-side-text {
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.project-link-on-card a {
  color: black;
}

.project-link-on-card a:hover {
  color: black;
}

ul {
  list-style-type: none;
}

// .card {
//   border: 2px solid #1b3958;
// }

.project-show-left {
  text-align: right;
  background-color: white;
}

.project-show-card {
  width: 60%;
  margin-left: 20%;
  border: 2px solid black;
}

.project-show-right {
  text-align: left;
  background-color: #8da4c9;
}

#other-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
}

.form-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
}

#employeeform-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
}

.employee-container {
  font-family: 'Merriweather', serif;
  padding-left: 15px;
  text-align: center;
  border-style: solid;
  border-color: #4f565a;
  width: 100%;
  margin-left: 15px;
  background-color: #c8c9cb;
}

.employeeindex-container {
  // border-style: solid;
  // border-color: #4f565a;
  padding: 3rem;
  // width: 50%;
  // background-color: #c8c9cb;
  font-family: 'Merriweather', serif;
}


.project-show-container {
  font-family: 'Merriweather', serif;
  padding-left: 15px;
  text-align: center;
  border-style: solid;
  border-color: #4f565a;
  width: 60%;
  margin-left: 15px;
  background-color: #c8c9cb;
}

.other-show-container {
  height: 400px;
}

.projects-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
  font-family: 'Merriweather', serif;
}

.projects-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-items-container {
  margin: 10px;
}


hr{
  width: 50%;
}

.form-hr {
  width: 100%;
}

h1 {
  color: #656464;
  text-align: center;
}

h3 {
  font-weight: bold;
}

p {
  font-style: italic;
}

button {
  color: #676565;
  border-color: #c1bebe;
  margin: 1rem;
}

a {
  color: #164ae8;
}

#notice {
  text-align: center;
  color: #b52e2e;
}

strong {
  font-size: 20px;
  font-style: italic;
  color: #223e94;
}

.page-footer {
  background-color: #333333;
  color: #c2c2c2;
  text-align: center;
  height: 30%;
  position:fixed;
  left:0px;
  bottom:0px;
  height: 90px;
  width:100%;
}

.footer-copyright {
  background-color: #1f1f1f;
  color: #747474;
  text-align: center;
  height: 15%;
}

.boxes input {
  margin: 5px;
}

body {
  margin-bottom: 100px;
}

#small {
  font-size: 14px;
}

a {
  color: #8692ba;
}


.user-signup {
  width: 20%;
  padding-top: 5%;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
  margin: 8px;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: #1028a0;
}

.wos {
 font-family: 'Merriweather', serif;
 margin-top: 10px;
 color: #355d88;
}

html, body, .container-fluid, .row {


}

.sidebar {
  background-color: #CCCCCC;
  height: 70%;
  border-style: solid;
  border-color: #333333;
  margin-top: 9%;
  margin-left: 20px;
  position: absolute;
  overflow: auto;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #CCCCCC;
  }
}

.form-control-industry {
  width: 40%;
}

a:hover {
  text-decoration: none;
}

.navbar {
  height: 100px;
  background-color: #c8c9cb;
}

.form-control {
  font-style: italic;
}
