@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'slick';


* {
  font-family: 'Lato', sans-serif;
}

.employee-name a{
  color: black
}

.employee-name a:hover {
  color: white;
  font: bold;
  text-decoration: none;
}

.blue-text {
  color: #355d88;
  font-family: 'Merriweather', serif;

}

.grey-text {
  color: grey;
}

.float-right {
  float: right;
  text-align: right;
  font-family: 'Merriweather', serif;
}

.float-left {
  margin-top: 125px;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
}

#right-side {
  background-color: #8da4c9;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#right-side-text {
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}

.project-link-on-card a {
  color: black;
}

.project-link-on-card a:hover {
  color: black;
}

ul {
  list-style-type: none;
}

// .card {
//   border: 2px solid #1b3958;
// }

.project-show-left {
  text-align: right;
}

.project-show-card {
  width: 60%;
  margin-left: 20%;
  border: 2px solid black;
}

.project-show-right {
  text-align: left;
  background-color: #8da4c9;
}

#other-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
}

.form-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
}

#employeeform-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
}

.employee-container {
  font-family: 'Merriweather', serif;
  padding-left: 15px;
  text-align: center;
  border-style: solid;
  border-color: #4f565a;
  width: 100%;
  margin-left: 15px;
  background-color: #c8c9cb;
}

.employeeindex-container {
  // border-style: solid;
  // border-color: #4f565a;
  padding: 3rem;
  // width: 50%;
  // background-color: #c8c9cb;
  font-family: 'Merriweather', serif;
}


.project-show-container {
  font-family: 'Merriweather', serif;
  padding-left: 15px;
  text-align: center;
  border-style: solid;
  border-color: #4f565a;
  width: 60%;
  margin-left: 15px;
  background-color: #c8c9cb;
}

.other-show-container {
  height: 400px;
}

.projects-container {
  border-style: solid;
  border-color: #4f565a;
  padding: 3rem;
  width: 50%;
  background-color: #c8c9cb;
  font-family: 'Merriweather', serif;
}

.projects-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-items-container {
  margin: 10px;
}


hr{
  width: 50%;
}

h1 {
  color: #656464;
  text-align: center;
}

h3 {
  font-weight: bold;
}

p {
  font-style: italic;
}

button {
  color: #676565;
  border-color: #c1bebe;
  margin: 1rem;
}

a {
  color: #164ae8;
}

#notice {
  text-align: center;
  color: #b52e2e;
}

strong {
  font-size: 20px;
  font-style: italic;
  color: #223e94;
}

.page-footer {
  background-color: #333333;
  color: #c2c2c2;
  text-align: center;
  height: 30%;
  position:fixed;
  left:0px;
  bottom:0px;
  height: 90px;
  width:100%;
}

.footer-copyright {
  background-color: #1f1f1f;
  color: #747474;
  text-align: center;
  height: 15%;
}

.boxes input {
  margin: 5px;
}

body {
  margin-bottom: 100px;
}

#small {
  font-size: 14px;
}

a {
  color: #8692ba;
}


.user-signup {
  width: 20%;
  padding-top: 5%;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
  margin: 8px;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: #1028a0;
}
